/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575 */
/* Белый цвет #ffffff */
/* Акцент #2196F3 */
/* Цвет logo studio #000000 */
/* Цвет web studio #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header {
  background-color: palevioletred;
}

.logo {
  margin-top: 0px;
  margin-bottom: 0px;

  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-words,
.footer-words {
  margin-top: 0px;
  margin-bottom: 0px;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts .link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* site-nav */

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* hero */

.hero {
  text-align: center;
  background-color: purple;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 40px;

  color: var(--title-text-color);

  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
/* section */

.section {
  padding-bottom: 94px;
  background-color: royalblue;
}
.section.one {
  padding-top: 94px;
}
.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* feature */

.feature-list .text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-list .title,
.team-list .title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.work-list .title {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 370px;

  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
.title.one {
  padding: 27px 83px 27px 83px;
}
.title.two {
  padding: 27px 85px 27px 86px;
}
.title.three {
  padding: 27px 90px 27px 91px;
}
/* Exampls */

/* Team */

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.position {
  margin-top: 0px;
  margin-bottom: 16px;
}

/* Footer */

.footer {
  background-color: var(--footer-bg-color);
}
.footer-logo {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}
.footer-logo .accent {
  color: var(--accent-color);
}
.address .address-list {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}
.address-link {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.address-contact {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}
.subscription {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list .item {
  text-decoration: none;
}
.developed {
  margin-top: 0px;
  margin-bottom: 0px;

  color: rgba(255, 255, 255, 0.4);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Portfolio */
.portfolio {
  text-decoration: none;
}
.works {
  padding-top: 93px;
  padding-bottom: 94px;
}
.works-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.work-roster .title {
  padding-top: 20px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-text-color);

  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.work-roster .text {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

/* Button */

.button {
  display: inline-block;
  border: 1px solid transparent;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  text-align: center;
}
.button.primary {
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;

  color: var(--title-text-color);
  background-color: var(--button-bg-color);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid salmon;
}
